

.jumbotron {
	background-image: url("Photos/logs.jpg");
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
#jumbo {
	margin-top: 0px;
}
#navvy { 
	margin-bottom:0px;
}
.navbar li{
	color:white;
}

.jumbotron .container {
	padding-top: 400px;
	text-align: left;

}
.jumbotron .container h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 160px;
	color:yellow;
}
.jumbotron .container h2{
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color:black;
	padding-bottom: 250px;
}